In [ ]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np
from ydata_profiling import ProfileReport
import requests

In [47]:
auth_key = 'qCAwvbY5DA4gXfxogObym8FftukU6Ue1TOcH2VCL'

In [51]:
url = "http://api.datosabiertos.enacom.gob.ar/api/v2/visualizations/VELOC-PROME-DE-BAJAD-DE/?auth_key="+auth_key # Reemplaza con la URL de la API que deseas consultar
response = requests.get(url)
data = response.json()

In [ ]:
data

In [ ]:
links = ['https://datosabiertos.enacom.gob.ar/datasets/176155-penetracion-nacional-del-internet-fijo.download/','https://datosabiertos.enacom.gob.ar/datasets/176155-penetracion-del-internet-fijo-por-provincia-accesos-por-cada-100-hogares.download/','https://datosabiertos.enacom.gob.ar/datasets/176153-total-nacional-de-accesos-a-internet-fijo-por-banda-ancha-y-banda-angosta.download/','https://datosabiertos.enacom.gob.ar/datasets/176153-accesos-a-banda-ancha-y-banda-angosta-por-provincia.download/','https://datosabiertos.enacom.gob.ar/datasets/176072-total-nacional-de-accesos-a-internet-fijo-por-tipo-de-tecnologia.download/','https://datosabiertos.enacom.gob.ar/datasets/176072-acceso-a-internet-fijo-por-tecnologia-y-provincia.download/','https://datosabiertos.enacom.gob.ar/datasets/179805-velocidad-media-de-bajada-de-internet-nacional.download/','https://datosabiertos.enacom.gob.ar/datasets/179805-velocidad-media-de-bajada-de-internet-fijo-por-provincia.download/','https://datosabiertos.enacom.gob.ar/datasets/176090-total-nacional-de-accesos-a-internet-fijo-por-velocidad-de-bajada.download/','https://datosabiertos.enacom.gob.ar/datasets/176090-acceso-a-internet-fijo-por-rangos-de-velocidad-de-bajada-y-provincia.download/','https://datosabiertos.enacom.gob.ar/datasets/180149-accesos-a-internet-fijo-por-velocidad-bajada-y-provincia.download/','https://datosabiertos.enacom.gob.ar/datasets/176154-ingresos-por-la-operacion-del-servicio-de-internet-fijo.download/','https://datosabiertos.enacom.gob.ar/datasets/185426-accesos-a-internet-fijo-por-velocidad-de-bajada-y-localidad.download/','https://datosabiertos.enacom.gob.ar/datasets/185537-accesos-a-internet-fijo-por-tecnologia-y-localidad.download/','https://datosabiertos.enacom.gob.ar/datasets/176294-listado-de-localidades-con-conectividad-a-internet.download/','https://datosabiertos.enacom.gob.ar/datasets/176294-conectividad-al-servicio-de-internet.download/']

In [38]:
df_names = ['df_penetracion_nacional_del_internet_fijo','df_penetracion-del-internet-fijo-por-provincia-accesos-por-cada-100-hogares','df_total-nacional-de-accesos-a-internet-fijo-por-banda-ancha-y-banda-angosta','df_accesos-a-banda-ancha-y-banda-angosta-por-provincia','df_total-nacional-de-accesos-a-internet-fijo-por-tipo-de-tecnologia','df_acceso-a-internet-fijo-por-tecnologia-y-provincia','df_velocidad-media-de-bajada-de-internet-nacional','velocidad-media-de-bajada-de-internet-fijo-por-provincia','df_velocidad-media-de-bajada-de-internet-fijo-por-provincia','df_total-nacional-de-accesos-a-internet-fijo-por-velocidad-de-bajada','df_acceso-a-internet-fijo-por-rangos-de-velocidad-de-bajada-y-provincia','df_accesos-a-internet-fijo-por-velocidad-bajada-y-provincia','df_ingresos-por-la-operacion-del-servicio-de-internet-fijo','df_accesos-a-internet-fijo-por-velocidad-de-bajada-y-localidad','df_accesos-a-internet-fijo-por-tecnologia-y-localidad','df_listado-de-localidades-con-conectividad-a-internet','df_conectividad-al-servicio-de-internet']
df_names_final = []
for name in df_names:
    name_modified = name.replace("-", "_")
    df_names_final.append(name_modified)

In [39]:
for link,name in zip(links,df_names_final):
    print(name,link)
    excel = pd.read_excel(link)
    globals()[name] = pd.DataFrame(excel)

df_penetracion_nacional_del_internet_fijo https://datosabiertos.enacom.gob.ar/datasets/176155-penetracion-nacional-del-internet-fijo.download/
df_penetracion_del_internet_fijo_por_provincia_accesos_por_cada_100_hogares https://datosabiertos.enacom.gob.ar/datasets/176155-penetracion-del-internet-fijo-por-provincia-accesos-por-cada-100-hogares.download/
df_total_nacional_de_accesos_a_internet_fijo_por_banda_ancha_y_banda_angosta https://datosabiertos.enacom.gob.ar/datasets/176153-total-nacional-de-accesos-a-internet-fijo-por-banda-ancha-y-banda-angosta.download/
df_accesos_a_banda_ancha_y_banda_angosta_por_provincia https://datosabiertos.enacom.gob.ar/datasets/176153-accesos-a-banda-ancha-y-banda-angosta-por-provincia.download/
df_total_nacional_de_accesos_a_internet_fijo_por_tipo_de_tecnologia https://datosabiertos.enacom.gob.ar/datasets/176072-total-nacional-de-accesos-a-internet-fijo-por-tipo-de-tecnologia.download/
df_acceso_a_internet_fijo_por_tecnologia_y_provincia https://datosabiertos.enacom.gob.ar/datasets/176072-acceso-a-internet-fijo-por-tecnologia-y-provincia.download/
df_velocidad_media_de_bajada_de_internet_nacional https://datosabiertos.enacom.gob.ar/datasets/179805-velocidad-media-de-bajada-de-internet-nacional.download/
velocidad_media_de_bajada_de_internet_fijo_por_provincia https://datosabiertos.enacom.gob.ar/datasets/179805-velocidad-media-de-bajada-de-internet-fijo-por-provincia.download/
df_velocidad_media_de_bajada_de_internet_fijo_por_provincia https://datosabiertos.enacom.gob.ar/datasets/176090-total-nacional-de-accesos-a-internet-fijo-por-velocidad-de-bajada.download/
df_total_nacional_de_accesos_a_internet_fijo_por_velocidad_de_bajada https://datosabiertos.enacom.gob.ar/datasets/176090-acceso-a-internet-fijo-por-rangos-de-velocidad-de-bajada-y-provincia.download/
df_acceso_a_internet_fijo_por_rangos_de_velocidad_de_bajada_y_provincia https://datosabiertos.enacom.gob.ar/datasets/180149-accesos-a-internet-fijo-por-velocidad-bajada-y-provincia.download/
df_accesos_a_internet_fijo_por_velocidad_bajada_y_provincia https://datosabiertos.enacom.gob.ar/datasets/176154-ingresos-por-la-operacion-del-servicio-de-internet-fijo.download/
df_ingresos_por_la_operacion_del_servicio_de_internet_fijo https://datosabiertos.enacom.gob.ar/datasets/185426-accesos-a-internet-fijo-por-velocidad-de-bajada-y-localidad.download/
df_accesos_a_internet_fijo_por_velocidad_de_bajada_y_localidad https://datosabiertos.enacom.gob.ar/datasets/185537-accesos-a-internet-fijo-por-tecnologia-y-localidad.download/
df_accesos_a_internet_fijo_por_tecnologia_y_localidad https://datosabiertos.enacom.gob.ar/datasets/176294-listado-de-localidades-con-conectividad-a-internet.download/
df_listado_de_localidades_con_conectividad_a_internet https://datosabiertos.enacom.gob.ar/datasets/176294-conectividad-al-servicio-de-internet.download/

In [26]:
df_penetracion_nacional_del_internet_fijo.head()

    Año  Trimestre        Provincia  Accesos por cada 100 hab
0  2022          3     Buenos Aires                     26.37
1  2022          3  Capital Federal                     50.22
2  2022          3        Catamarca                     16.62
3  2022          3            Chaco                     11.72
4  2022          3           Chubut                     25.86

In [27]:
df_penetracion_del_internet_fijo_por_provincia_accesos_por_cada_100_hogares.head()

    Año  Trimestre        Provincia  Accesos por cada 100 hab
0  2022          3     Buenos Aires                     26.37
1  2022          3  Capital Federal                     50.22
2  2022          3        Catamarca                     16.62
3  2022          3            Chaco                     11.72
4  2022          3           Chubut                     25.86

In [28]:
df_total_nacional_de_accesos_a_internet_fijo_por_banda_ancha_y_banda_angosta.head()

    Año  Trimestre        Provincia  Banda ancha fija  Dial up    Total
0  2022          3     Buenos Aires           4715469   6199.0  4721668
1  2022          3  Capital Federal           1545534   2145.0  1547679
2  2022          3        Catamarca             70292      1.0    70293
3  2022          3            Chaco            144141      5.0   144146
4  2022          3           Chubut            164874    904.0   165778

In [29]:
df_accesos_a_banda_ancha_y_banda_angosta_por_provincia.head()

    Año  Trimestre        Provincia  Banda ancha fija  Dial up    Total
0  2022          3     Buenos Aires           4715469   6199.0  4721668
1  2022          3  Capital Federal           1545534   2145.0  1547679
2  2022          3        Catamarca             70292      1.0    70293
3  2022          3            Chaco            144141      5.0   144146
4  2022          3           Chubut            164874    904.0   165778

In [30]:
df_total_nacional_de_accesos_a_internet_fijo_por_tipo_de_tecnologia.head()

,Año,Trimestre,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total,Periodo
0,2022,3,1395277,6031970,2871541,557110,235230,11091128,Jul-Sept 2022
1,2022,2,1468333,5979214,2723285,556243,231609,10958684,Abr-Jun 2022
2,2022,1,1533240,6073426,2219533,545814,251996,10624009,Ene-Mar 2022
3,2021,4,1657615,5984240,2072236,523107,252596,10489794,Oct-Dic 2021
4,2021,3,1950631,5826257,1566048,492415,250190,10085541,Jul-Sept 2021

In [31]:
df_acceso_a_internet_fijo_por_tecnologia_y_provincia.head()

,Año,Trimestre,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total,Periodo
0,2022,3,1395277,6031970,2871541,557110,235230,11091128,Jul-Sept 2022
1,2022,2,1468333,5979214,2723285,556243,231609,10958684,Abr-Jun 2022
2,2022,1,1533240,6073426,2219533,545814,251996,10624009,Ene-Mar 2022
3,2021,4,1657615,5984240,2072236,523107,252596,10489794,Oct-Dic 2021
4,2021,3,1950631,5826257,1566048,492415,250190,10085541,Jul-Sept 2021

In [42]:
velocidad_media_de_bajada_de_internet_fijo_por_provincia.head()

    Año  Trimestre        Provincia  Mbps (Media de bajada)
0  2022          3     Buenos Aires                   70.19
1  2022          3  Capital Federal                  101.05
2  2022          3        Catamarca                   60.99
3  2022          3            Chaco                   53.21
4  2022          3           Chubut                   15.57

In [33]:
df_velocidad_media_de_bajada_de_internet_fijo_por_provincia.head()

,Año,Trimestre,Hasta 512 kbps,Entre 512 Kbps y 1 Mbps,Entre 1 Mbps y 6 Mbps,Entre 6 Mbps y 10 Mbps,Entre 10 Mbps y 20 Mbps,Entre 20 Mbps y 30 Mbps,Más de 30 Mbps,OTROS,Total
0,2022,3,33013,96727,1161370,1151906,823505,479822,6995750,349035,11091128
1,2022,2,33667,99498,1193090,1197030,856562,485321,6741922,351594,10958684
2,2022,1,34890,104840,1263273,1209148,967508,509830,6336187,198333,10624009
3,2021,4,41262,28521,1413208,1245333,976539,558358,6032322,194251,10489794
4,2021,3,40174,41437,2550229,1095772,710122,536364,4948174,163269,10085541

In [34]:
df_total_nacional_de_accesos_a_internet_fijo_por_velocidad_de_bajada.head()

,Año,Trimestre,Hasta 512 kbps,Entre 512 Kbps y 1 Mbps,Entre 1 Mbps y 6 Mbps,Entre 6 Mbps y 10 Mbps,Entre 10 Mbps y 20 Mbps,Entre 20 Mbps y 30 Mbps,Más de 30 Mbps,OTROS,Total
0,2022,3,33013,96727,1161370,1151906,823505,479822,6995750,349035,11091128
1,2022,2,33667,99498,1193090,1197030,856562,485321,6741922,351594,10958684
2,2022,1,34890,104840,1263273,1209148,967508,509830,6336187,198333,10624009
3,2021,4,41262,28521,1413208,1245333,976539,558358,6032322,194251,10489794
4,2021,3,40174,41437,2550229,1095772,710122,536364,4948174,163269,10085541

In [35]:
df_acceso_a_internet_fijo_por_rangos_de_velocidad_de_bajada_y_provincia.head()

,Año,Trimestre,Provincia,Otros,"0,256 Mbps","0,375 Mbps","0,625 Mbps","0,5 Mbps","0,512 Mbps","0,75 Mbps",...,2048 Mbps,2529 Mbps,3072 Mbps,4000 Mbps,5000 Mbps,5125 Mbps,6000 Mbps,7000 Mbps,8000 Mbps,10000 Mbps
0,2022.0,3.0,Buenos Aires,65821.0,19.0,0.0,0.0,29774.0,192.0,4611.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2022.0,3.0,Capital Federal,105477.0,31.0,0.0,0.0,451.0,35.0,1307.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2022.0,3.0,Catamarca,2208.0,0.0,0.0,0.0,34.0,37.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2022.0,3.0,Chaco,3711.0,0.0,225.0,111.0,234.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2022.0,3.0,Chubut,20024.0,8.0,0.0,0.0,69.0,32.0,836.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [36]:
df_accesos_a_internet_fijo_por_velocidad_bajada_y_provincia.head()

    Año  Trimestre  Ingresos (miles de pesos)        Periodo
0  2022          3               6.705593e+07  Jul-Sept 2022
1  2022          2               6.033572e+07   Abr-Jun 2022
2  2022          1               5.559000e+07   Ene-Mar 2022
3  2021          4               4.546789e+07   Oct-Dic 2021
4  2021          3               4.299994e+07  Jul-Sept 2021

In [40]:
df_ingresos_por_la_operacion_del_servicio_de_internet_fijo.head()

,Provincia,Partido,Localidad,Link Indec,Otros,"0,256 mbps","0,375 mbps","0,5 mbps","0,512 mbps","0,625 mbps",...,512 mbps,520 mbps,600 mbps,680 mbps,700 mbps,800 mbps,850 mbps,900 mbps,1000 mbps,1024 mbps
0,BUENOS AIRES,25 de Mayo,25 de Mayo,6854100,NaN,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BUENOS AIRES,25 de Mayo,Agustín Mosconi,6854010,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BUENOS AIRES,25 de Mayo,Del Valle,6854020,NaN,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BUENOS AIRES,25 de Mayo,Ernestina,6854030,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BUENOS AIRES,25 de Mayo,Gobernador Ugarte,6854040,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
df_accesos_a_internet_fijo_por_velocidad_de_bajada_y_localidad.head()

,Provincia,Partido,Localidad,Link Indec,ADSL,CABLEMODEM,DIAL UP,FIBRA OPTICA,OTROS,SATELITAL,WIMAX,WIRELESS,Total general
0,BUENOS AIRES,25 de Mayo,25 de Mayo,6854100,873,4704,0,2,0,975,0,664,7218
1,BUENOS AIRES,25 de Mayo,Del Valle,6854020,181,0,0,0,10,1,0,0,192
2,BUENOS AIRES,25 de Mayo,Gobernador Ugarte,6854040,0,0,0,0,0,0,0,181,181
3,BUENOS AIRES,25 de Mayo,Norberto de la Riestra,6854060,0,782,0,6,167,0,0,327,1282
4,BUENOS AIRES,25 de Mayo,Lucas Monteverde,6854050,0,0,0,0,0,0,0,6,6

In [25]:
df_accesos_a_internet_fijo_por_tecnologia_y_localidad.head()

,Provincia,Partido,Localidad,Poblacion,ADSL,CABLEMODEM,DIALUP,FIBRAOPTICA,SATELITAL,WIRELESS,TELEFONIAFIJA,3G,4G,link,Latitud,Longitud
0,BUENOS AIRES,Bahía Blanca,Villa Bordeau,0,--,--,--,--,--,--,--,SI,SI,6056020.0,"-38,6472605094596","-62,3200223419024"
1,BUENOS AIRES,Bahía Blanca,Villa Espora,0,--,--,--,--,--,--,--,--,--,6056020.0,"-38,7765069529222","-62,1851833537179"
2,BUENOS AIRES,Balcarce,Balcarce,38376,SI,SI,SI,SI,--,SI,SI,SI,SI,6063010.0,"-37,8482779294345","-58,2551665841248"
3,BUENOS AIRES,Balcarce,Los Pinos,337,--,--,--,--,--,SI,SI,--,--,6063020.0,"-37,9412057603","-58,3225920150442"
4,BUENOS AIRES,Balcarce,Napaleofú,374,--,--,--,SI,--,SI,SI,SI,SI,6063030.0,"-37,6254980210026","-58,7461862359423"

In [24]:
df_listado_de_localidades_con_conectividad_a_internet.head()

,Provincia,Partido,Localidad,Poblacion,ADSL,CABLEMODEM,DIALUP,FIBRAOPTICA,SATELITAL,WIRELESS,TELEFONIAFIJA,3G,4G,link,Latitud,Longitud
0,BUENOS AIRES,Bahía Blanca,Villa Bordeau,0,--,--,--,--,--,--,--,SI,SI,6056020.0,"-38,6472605094596","-62,3200223419024"
1,BUENOS AIRES,Bahía Blanca,Villa Espora,0,--,--,--,--,--,--,--,--,--,6056020.0,"-38,7765069529222","-62,1851833537179"
2,BUENOS AIRES,Balcarce,Balcarce,38376,SI,SI,SI,SI,--,SI,SI,SI,SI,6063010.0,"-37,8482779294345","-58,2551665841248"
3,BUENOS AIRES,Balcarce,Los Pinos,337,--,--,--,--,--,SI,SI,--,--,6063020.0,"-37,9412057603","-58,3225920150442"
4,BUENOS AIRES,Balcarce,Napaleofú,374,--,--,--,SI,--,SI,SI,SI,SI,6063030.0,"-37,6254980210026","-58,7461862359423"

In [ ]:

url = "http://api.datosabiertos.enacom.gob.ar/api/v2/visualizations/PENET-POR-HOGAR-NACIO-DEL/?auth_key="+auth_key
params = {
    "page": 1,  # Página inicial
    "limit": 100  # Número de resultados por página
}

data = []  # Lista para almacenar los datos de todas las páginas

while True:
    response = requests.get(url, params=params)
    
    if response.status_code == 200:
        page_data = response.json()
        data.extend(page_data)  # Agregar los datos de la página a la lista
        
        # Verificar si hay más páginas
        if len(page_data) < params["limit"]:
            break
        
        # Pasar a la siguiente página
        params["page"] += 1
    else:
        print("Error en la solicitud. Código de estado:", response.status_code)
        break

# Crear un DataFrame a partir de los datos
df = pd.DataFrame(data)

# Explorar y manipular el DataFrame según tus necesidades
print(df.head())

In [53]:
import requests

# URL base de la API del ENACOM
base_url = "http://api.datosabiertos.enacom.gob.ar/api/v2"

# Endpoint que deseas llamar
endpoint = "/visualizations/VELOC-PROME-DE-BAJAD-DE/?auth_key="+auth_key

# Parámetros de consulta (si los hay)
params = {
    "categoria": "telefonia"
}

# Realizar la solicitud GET a la API
response = requests.get(base_url + endpoint, params=params)

# Comprobar el código de estado de la respuesta
if response.status_code == 200:
    # La solicitud fue exitosa
    data = response.json()
    
    # Hacer algo con los datos recibidos
    for operador in data["result"]:
        print(operador["nombre"])
else:
    # Hubo un error en la solicitud
    print("Error en la solicitud:", response.status_code)

TypeError: 'NoneType' object is not iterable